* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #333;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #2980B9;
    color: #ECF0F1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3498DB;
    margin-bottom: 20px;
}

.sidebar .menu div, .sidebar .settings div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.sidebar .menu div:hover, .sidebar .settings div:hover {
    background-color: #3498DB;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.sidebar img {
    width: 20px;
    height: 20px;
}


/* Stylizacja headera */
.header {
    /*background-color: red;*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header .upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .upper-part input {
    width: 40%;
    height: 30px;
    background-color: grey;
    border: none;
    border-radius: 20px;
}
.upper-part input::placeholder {
    position: relative;
    color: white;
    left: 20px;
}

.header .lower-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .lower-part .profile {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header .lower-part .profile .greeting {
    display: flex;
    flex-direction: column;
}
.header .lower-part .action-buttons {
    display: flex;
    gap: 1rem;
}
.action-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #3498DB;
    color: white;
}


/* Stylizacja footer */
.footer {
    grid-column: 2 / 3;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #ECF0F1;
}

.main-area {
    display: grid;
    grid-template-rows: auto 1fr;
    flex-grow: 1;
}
.main-area h3 {
    padding: 10px 0 10px 0;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.project-card {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333;
}

.project-card h3 {
    color: #3498DB;
    margin-bottom: 5px;
}

.side-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 250px;
}

.announcements, .trending {
    display: grid;
    grid-template-rows: auto 1fr;
}
.announcements h3, .trending h3 {
    padding: 10px 0 10px 0;
}

.announcements-content, .trending-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FFF;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.announcements-content p, .trending-content p {
    margin-bottom: 8px;
    color: #333;
}

.announcements-content p:last-child, .trending-content p:last-child {
    margin-bottom: 0;
}
